@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #94c0ec;
  font-family: 'Open Sans';
  font-weight: 600;
}

.display-4 {
  font-weight: 300;
}

.card-header {
  font-size: 1.25rem;
}
